   body{
    background-color: antiquewhite;
    text-align: center;
   }
   header{
        background-color: black;
        color: white;
    }

    footer{
        background-color: black
        color: white;
    }
    img{
        width: 12024px;
        height: 720px;
    }